html {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
}

body {
  margin: 0;
  /* font-size: 16px !important; */
  position: fixed;
  top: 0;
  left: 0;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

@media ( ( max-width: 400px ) and ( max-height: 700px ) ) or ( ( max-height: 600px ) ) {
  :root {
    font-size: 12px !important;
  }
}